<launch>

	<rosparam command="load" file="$(find tiago_move)/config/tiago_head_motions.yaml"/>
	
	<node pkg="play_motion" type="run_motion" name="run_motion" args="head_look_around"/>

	<node pkg="aruco_ros" type="single" name="aruco_single">
	<remap from="/camera_info" to="/xtion/rgb/camera_info" />
        <remap from="/image" to="/xtion/rgb/image_rect_color" />

	<param name="rotate_marker_axis" value="true"/>

        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.201"/>
        <param name="marker_id"          value="582"/>
        <param name="reference_frame"    value="/map"/>
        <param name="camera_frame"       value="/xtion_optical_frame"/>
        <param name="marker_frame"       value="/pylon" />
        <param name="corner_refinement"  value="LINES" />
	</node>

	<node pkg = "tiago_move" type="go_to_touch" name="go_to_touch" launch-prefix="bash -c 'sleep 6; $0 $@'"/>


</launch>
