<?xml version="1.0"?>

<model>
  <name>Pylone_echelle</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: PGE_SRI_2020</name>
    <email>Optional: sri.pge2019@gmail.com</email>
  </author>

  <description>
    Modele CAO de la maquette utilisee pour qualifier le demonstrateur HITL de la solution d'inspection de drone proposee par altran.
    Ce modele a ete mis a l echelle pour fonctionner sur gazebo (qui prend des mesures en m et non en mm comme la plupart des soft de CAO)
  </description>

</model>
