<launch>
	<param name="nb_pts_base_footprint" value="8"/>
	<param name="rayon_base_footprint" value="1.1"/>
	<param name="hauteur_entre_pts" value="0.95"/>
	<param name="hauteur_pt1" value="0.5"/>

	<node pkg="pylon_world_tf" type="pylon_world_tf_broadcaster" name="pylon_world_tf_broadcaster"/>

	<node pkg="plot_broadcaster" type="plot_broadcaster" name="plot_broadcaster" launch-prefix="bash -c 'sleep 3; $0 $@'">	
	</node>

</launch>
