<launch>
	<node pkg="aruco_ros" type="single" name="aruco_single">	
		<remap from="/camera_info" to="/xtion/rgb/camera_info" />
		      <remap from="/image" to="/xtion/rgb/image_rect_color" />

		<param name="rotate_marker_axis" value="false"/>
		<param name="image_is_rectified" value="true"/>
		<param name="marker_size"        value="0.105"/>
		<param name="marker_id"          value="68"/>
		<param name="reference_frame"    value="/map"/>
		<param name="camera_frame"       value="/xtion_optical_frame"/>
		<param name="marker_frame"       value="/pylon_qr" />
		<param name="corner_refinement"  value="LINES" />
	</node>
	
<!--	<arg name="arm"  default="True"/>
		<arg name="end_effector"  default="pal-gripper"/>
		<arg name="ft_sensor"  default="schunk-ft"/>
		<arg name="laser_model"  default="sick-571"/>
		<arg name="camera_model"  default="orbbec-astra"/>
		<include file="$(find tiago_description)/robots/upload.launch">
			<arg name="arm"  value="$(arg arm)"/>
			<arg name="end_effector"  value="$(arg end_effector)"/>
			<arg name="ft_sensor"  value="$(arg ft_sensor)"/>
			<arg name="laser_model"  value="$(arg laser_model)"/>
			<arg name="camera_model"  value="$(arg camera_model)"/>
	  	</include>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
-->	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pylon_world_tf)/config/pge_navigation.rviz">		
	</node>
</launch>
