<launch>
<!--	<arg name="arm"  default="True"/>
		<arg name="end_effector"  default="pal-gripper"/>
		<arg name="ft_sensor"  default="schunk-ft"/>
		<arg name="laser_model"  default="sick-571"/>
		<arg name="camera_model"  default="orbbec-astra"/>
		<include file="$(find tiago_description)/robots/upload.launch">
			<arg name="arm"  value="$(arg arm)"/>
			<arg name="end_effector"  value="$(arg end_effector)"/>
			<arg name="ft_sensor"  value="$(arg ft_sensor)"/>
			<arg name="laser_model"  value="$(arg laser_model)"/>
			<arg name="camera_model"  value="$(arg camera_model)"/>
	  	</include>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
-->	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pylon_world_tf)/config/pge_navigation.rviz">		
	</node>
</launch>
